<div class="main main-rised">
  <div class="container">
    <app-my-features></app-my-features>

    <app-my-main-feature></app-my-main-feature>
  </div>

  <app-my-jumbotron></app-my-jumbotron>

  <div class="container">
    <div class="section carousel-section">
      <div class="row justify-content-center">
        <div class="col-md-10 col-12">
          <app-my-carousel></app-my-carousel>
        </div>
      </div>
      <div class="row justify-content-center carousel-btn">
        <app-my-button class="main-btn"></app-my-button>
      </div>
    </div>
  </div>
</div>
