<div class="header page_header background-image">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1 class="name">Car Shering</h1>
          <h3 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae deserunt assumenda quo sit necessitatibus nam explicabo!</h3>
        </div>
      </div>
    </div>
  </div>
</div>    

<div class="main main-rised">
  <div class="section-one">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h4 class="about_us gray_color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vel, cupiditate ex, iure numquam velit, eum dolorem obcaecati doloribus temporibus debitis quasi aspernatur possimus animi quisquam dolore impedit iste fuga.</h4>
        </div>
      </div>

      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon rose_color">
                <i class="material-icons">apps</i>
              </div>
              <h4 class="dark_color info-title">Something One</h4>
              <p class="gray_color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae deserunt assumenda quo sit necessitatibus nam explicabo! Neque voluptate ea animi voluptatibus facere asperiores tempora.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon info_color">
                <i class="material-icons">wrap_text</i>
              </div>
              <h4 class="dark_color info-title">Something Two</h4>
              <p class="gray_color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae deserunt assumenda quo sit necessitatibus nam explicabo! Neque voluptate ea animi voluptatibus facere asperiores tempora.</p>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="info">
                <div class="icon success_color">
                  <i class="material-icons">view_carousel</i>
                </div>
                <h4 class="dark_color info-title">Something Three</h4>
                <p class="gray_color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae deserunt assumenda quo sit necessitatibus nam explicabo! Neque voluptate ea animi voluptatibus facere asperiores tempora.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section-components">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
          <h3 class="m-t-80 m-b-5 dark_color">Something</h3>
          <h4 class="gray_color m-t-5 m-b-30">Lorem ipsum, dolor sit amet</h4>
          <h5 class="gray_color m-t-35">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, doloribus, autem debitis possimus sapiente facere sequi consectetur molestiae impedit voluptate nemo id amet quae ut rem perspiciatis asperiores, provident eum!</h5>
          <button class="btn btn-rose">do something</button>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-2 col-xs-2">
          <div class="image-container">
            <img class="mac_image mr-auto ml-auto" src="https://assets.mbusa.com/vcm/MB/DigitalAssets/AMG_ThemePage/Responsive/1Man1Engine/GT-MODULE/2017-SUPERBOWL-AMG-GT-ROADSTER_GTC-D.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-section section-card z-depth-3">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="text-center">
            <h3 class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro cumque nisi amet perferendis vero et molestias id maiores fuga at soluta, modi in obcaecati tempore doloremque praesentium totam sint voluptatibus!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="class cars-section">
    <div class="container">
      <div class="row cars">
        <h2 class="text-center dark_color w-full">Lorem Ipsum</h2>    
        
        <div class="card hoverable z-depth-2 col-md-4 col-sm-12 col-xs-12">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://autoua.net/media/uploads/mercedes/mercedes-amg-gt-63-s-with-aerodynamic-package.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p class="truncate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque corporis nam saepe veniam. Veniam in deserunt aperiam? Laboriosam, accusamus facilis reprehenderit ex, ut adipisci cum repellendus excepturi aspernatur, nulla necessitatibus.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn btn-rose">rent</button>
          </div>
        </div>

        <div class="card hoverable z-depth-2 col-md-4 col-sm-12 col-xs-12">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://cdn.motor1.com/images/mgl/PxjrK/s1/2019-volvo-s60-first-drive.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur sapiente placeat excepturi architecto amet. Aliquid placeat tenetur quas quod ipsa, in officiis rem obcaecati ut minus? Rem, accusantium recusandae.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn btn-rose">rent</button>
          </div>
        </div>

        <div class="card hoverable z-depth-2 col-md-4 col-sm-12 col-xs-12">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="https://robohub.org/wp-content/uploads/2018/04/Tesla.jpeg" alt="">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p class="truncate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus quia consectetur odit excepturi voluptates incidunt repellat molestias iure impedit. Aut natus temporibus at magnam error! Debitis quod in magni! Distinctio.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-5">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
            <button class="btn btn-rose">rent</button>
          </div>
        </div>

        <div class="text-center w-full">
          <button class="btn btn-rose">view all</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer dark_color">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>