
  <section class="row user_profile justify-content-center">
      <div class="col-lg-9">
          <header class="container-fluid">
              <div class="row justify-content-center" style="position: relative">
                  <div id="mobile_navs">
                      <div class="container-fluid">
                          <div class="row justify-content-between">
                              <div>
                                  <strong>
                                      User profile
                                  </strong>
                              </div>
                              <div class="menu_icon">
                                  <img src="assets/img/menu_icon.png"/>
                              </div>
                          </div>
                      </div>
                  </div>
                  <nav class="nav_bar">
                      <div class="nav_bar_item" item-data="0">
                          <img src="assets/img/profile_icn.png"/>
                          <strong>
                              Profile
                          </strong>
                      </div>
                      <div class="nav_bar_item" item-data="1">
                          <img src="assets/img/resume_icon.png"/>
                          <strong>
                              History
                          </strong>
                      </div>
                      <div class="nav_bar_item " item-data="2">
                          <img src="assets/img/porfolio_icon.png"/>
                          <strong>
                              Own Offers
                          </strong>
                      </div>
                  </nav>
              </div>
          </header>
          <section class="user_profile_item row justify-content-between profile_item">
              <div class="col-lg-4 profile_image">
                  <img src="assets/img/Cristiano-Ronaldo-PNG-1.png"/>
              </div>
              <div class="col-lg-7 profile_content">
                  <div>
                      <strong class="profile_name">
                          SediGamidov
                      </strong>
                  </div>
                  <div>
                      <em class="profile_job">
                          Customer
                      </em>
                  </div>
                  <ul class="profile_lst_informations">
                      <li class="icon">
                          <img src="assets/img/Services_icon.png"/>
                      </li>
                      <li class="label">
                          Name :
                      </li>
                      <li class="content">
                          Sedi Gamidov
                      </li>
                  </ul>
                  <ul class="profile_lst_informations">
                      <li class="icon">
                          <img src="assets/img/Services_icon.png"/>
                      </li>
                      <li class="label">
                          Date of birth :
                      </li>
                      <li class="content">
                          32 / 13 / 3000
                      </li>
                  </ul>
                  <ul class="profile_lst_informations">
                      <li class="icon">
                          <img src="assets/img/Services_icon.png"/>
                      </li>
                      <li class="label">
                          Phone :
                      </li>
                      <li class="content">
                          +11111111111
                      </li>
                  </ul>
                  <ul class="profile_lst_informations">
                      <li class="icon">
                          <img src="assets/img/Services_icon.png"/>
                      </li>
                      <li class="label">
                          Adress :
                      </li>
                      <li class="content">
                          Madrid, Spain
                      </li>
                  </ul>
                  <ul class="profile_lst_informations">
                      <li class="icon">
                          <img src="assets/img/Services_icon.png"/>
                      </li>
                      <li class="label">
                          E-mail :
                      </li>
                      <li class="content">
                          mail-box@domain.com
                      </li>
                  </ul>
                  <ul class="profile_lst_informations">
                      <li class="label">
                          About me :
                      </li> 
                      <li class="content">
                          <p>
                              LOREM IPSUM DOLOR SIT AMET
                          </p>
                      </li>
                  </ul>
              </div>
          </section>
          <section class="user_profile_item row resume_item" style="display: none">
              <div class="col-lg">
                  <div class="item">
                      <div class="resume_item_header">
                          <div class="icon">
                              <img src="assets/img/resume_icon.png"/>
                          </div>
                          <div class="label">
                              1iy Zakaz
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Almaty-Aksai
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Aksai-Talgar
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Talgar-Almaty
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="resume_item_header">
                          <div class="icon">
                              <img src="assets/img/resume_icon.png"/>
                          </div>
                          <div class="label">
                              2iy Zakaz
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Almaty-Aksai
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Aksai-Talgar
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="liste_functions_item">
                          <div class="point">
                          </div>
                          <div class="content">
                              <div class="row justify-content-between">
                                  <div class="label">
                                      <strong>
                                          Talgar-Almaty
                                      </strong>
                                  </div>
                                  <div class="date">
                                      2019
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                 
              </div>                        

          </section>
          
          <section class="user_profile_item row work_item justify-content-center" style="display: none">
              <div class="item col-lg-3">
                  <img src="assets/img/aaaa.jpeg"/>
              </div>
              <div class="item col-lg-3">
                  <img src="assets/img/bbbb.jpg"/>
              </div>
              <div class="item col-lg-3">
                  <img src="assets/img/cccc.jpg"/>
              </div>
              <div class="item col-lg-3">
                  <img src="assets/img/dddd.jpeg"/>
              </div>
          </section>
      </div>
  </section>