<div class="section main-feature">
  <div class="row">
    <div class="col-md-5 col-12 align-self-center">
      <h4 class="font-oxygen color-d-purple upper">something</h4>
      <h5 class="font-muli color-violet">Lorem ipsum dolor sit.</h5>
      <p class="font-muli color-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus alias beatae magnam hic neque delectus, assumenda voluptatibus et officia animi voluptate nam sint suscipit culpa dignissimos repellat esse laboriosam commodi.</p>
    </div>
    <div class="col-md-7 hidden-sm">
      <div class="image-container">
        <img class="" src="https://assets.mbusa.com/vcm/MB/DigitalAssets/AMG_ThemePage/Responsive/1Man1Engine/GT-MODULE/2017-SUPERBOWL-AMG-GT-ROADSTER_GTC-D.png" alt="">
      </div>
    </div>
  </div>
</div>
