.header {
  height: 100vh;
  color: #FEFEFE;
  background-size: cover;
  background: linear-gradient(135deg,rgba(194, 63, 84, .88),rgba(107, 5, 4,.31)), url("../../../assets/img/board.jpg") no-repeat center;
}

.header h1 {
  font-size: 5rem;
}

.header h4 {
  font-size: 1.4rem;
}
