<div class="section features text-center">
  <div class="row justify-content-center">
    <div class="col-md-10 col-12">
      <h4 class="font-muli color-gray">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id perspiciatis fugit aut dolor ratione ipsam nihil, suscipit neque dolore illo sed, quidem velit accusamus fuga minima culpa. Consequuntur, vitae accusantium?</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-12">
      <div class="feature">
          <div class="icon color-pink">
            <i class="material-icons">apps</i>
          </div>
          <h4 class="color-d-purple upper">something one</h4>
          <p class="color-gray">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias iure amet soluta, a nulla dicta facere vitae, placeat, voluptates nihil quae autem possimus enim recusandae!</p>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="feature">
        <div class="icon color-blue">
          <i class="material-icons">wrap_text</i>
        </div>
        <h4 class="color-d-purple upper">something two</h4>
        <p class="color-gray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam corporis ab mollitia aspernatur eos quo illum porro, nemo voluptate esse id, blanditiis aliquid.</p>
    </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="feature">
        <div class="icon color-green">
          <i class="material-icons">view_carousel</i>
        </div>
        <h4 class="color-d-purple upper">something three</h4>
        <p class="color-gray">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis nisi mollitia laborum ea, temporibus voluptatem. Assumenda molestiae beatae! Deserunt quaerat.</p>
    </div>
    </div>
  </div>
</div>
