.page-footer h5 {
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif !important;
    color: #4A1942 !important;
}

.page-footer li a {
    font-family: 'Oxygen', sans-serif !important;
    color: #675964 !important;
}

.page-footer {
  padding-top: 32px !important;
}
