.navbar {
    line-height: 1.8rem;
    transition: padding 0.4s ease;
}

.navbar a {
    color: #FEFEFE !important;
}

.transparent {
    padding-top: 25px;
    background-color: transparent;
}

.navbar .dropdown-menu a {
  color: #4A1942 !important;
}

.not-transparent {
    padding: .625rem 0 !important;
    background-color: #FEFEFE !important;

    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}

.not-transparent a {
    color: #150712 !important;
}

.active {
    font-family: 'Oxygen', sans-serif;
}
